@import "src/styles/global/variables";
@import "src/styles/global/colors";
@import "src/styles/global/responsiveness";

#NavBarMenuDesktop {
  display: flex;
  justify-content: center;
  align-content: center;

  .menu-items {
    display: flex;
    flex-flow: row;

    margin: auto 0;
  }

  .item {
    margin-left: 32px;
    border-bottom: 3px solid $colorBrightNavyBlue;
    padding-bottom: 1px;

    cursor: pointer;

    color: $colorWhite;

    font-family: $ffVerdana;
    font-size: 16px;
    font-weight: bold;

    user-select: none;
    transition: border 0.2s, color 0.2s;

    @include bellow-xl {
      margin-left: 18px;
    }

    &:hover {
      border-bottom: 3px solid $colorWhite;
    }
  }

  .cta-wrap {
    display: flex;
  }

  .cta-item {
    display: block;

    margin: auto 0px auto 48px;
    border: 3px solid $colorWhite;
    padding: 8px 24px;
    border-radius: 30px;

    color: $colorWhite;

    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: $ffVerdana;

    user-select: none;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: $colorWhite;
      color: $colorBrightNavyBlue;
    }

    @include bellow-xl {
      margin: auto 0 auto 18px;
    }
  }

  .language-settings {
    position: relative;

    margin: auto 0 auto 48px;
    width: 100px;

    user-select: none;
    cursor: pointer;

    @include bellow-xl {
      margin: auto 0 auto 18px;
    }

    .select {
      display: flex;
      flex-direction: row;

      margin: auto auto;
      border-bottom: 3px solid $colorBrightNavyBlue;
      transition: border 0.2s;
    }

    .placeholder {
      display: block;
      font-family: $ffVerdana;
      font-weight: bold;
      color: $colorWhite;
      font-size: 16px;
    }

    .icon {
      margin: auto 0 auto 8px;

      fill: $colorWhite;
      height: 16px;
      width: 16px;

      transition: transform 0.15s;
    }

    .dropdown {
      position: absolute;
      display: none;
    }

    .option {
      display: block;
      border-bottom: 2px solid $colorBrightNavyBlue;
      margin: 6px;

      color: $colorWhite;
      font-family: $ffVerdana;
      font-size: 18px;

      transition: border 0.2s;

      &:hover {
        border-color: $colorWhite;
      }
    }

    &.open {
      .icon {
        transform: rotate(180deg);
      }

      .select {
        border-color: $colorWhite;
      }

      .dropdown {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        width: 120px;
        background-color: $colorBrightNavyBlue;
      }
    }
  }
}
