@import "src/styles/global/variables";
@import "src/styles/global/colors";
@import "src/styles/global/responsiveness";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: $ffVerdana;
}

#app {
  display: block;
}

.main-content {
  margin-top: 70px;

  @include xs-only {
    margin-top: 48px;
  }
}
