@import "src/styles/global/variables";
@import "src/styles/global/colors";
@import "src/styles/global/responsiveness";

#Equipment {
  padding: 128px 0;

  background-color: $colorGhostWhite;

  @include bellow-s {
    padding: 98px 0;
  }

  .equipment-header {
    margin: 0 12px;
    padding-bottom: 64px;

    font-family: Verdana, Geneva, sans-serif;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    color: $colorBlack;

    @include bellow-s {
      font-size: 36px;
    }
  }

  .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    margin: auto;

    width: 80%;

    @include bellow-l {
      width: 85%;
    }
  }
}
