@import "src/styles/global/variables";
@import "src/styles/global/colors";
@import "src/styles/global/responsiveness";

#ItemProps {
  margin: 12px 24px;

  max-width: 320px;

  @include bellow-s {
    margin: 6px 12px;
  }

  .icon-wrap {
    margin: auto;

    width: 100px;
    height: 100px;
  }

  .icon {
    width: auto;
  }

  .cat-name {
    margin: 24px 0;

    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: $ffVerdana;
  }

  .l-item {
    position: relative;
    margin: 0 0 16px 20px;

    font-family: $ffVerdana;
    font-size: 18px;

    list-style: none;

    @include bellow-l {
      font-size: 16px;
    }

    &::before {
      display: inline-block;
      position: absolute;
      top: 3px;
      left: -25px;

      filter: invert(30%) sepia(82%) saturate(1490%) hue-rotate(189deg)
        brightness(97%) contrast(109%);

      background-size: 18px 18px;
      height: 18px;
      width: 18px;
      content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24'><path d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/></svg>");

      @include bellow-l {
        background-size: 16px 16px;
        height: 16px;
        width: 16px;
        content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'><path d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/></svg>");
      }
    }
  }
}
