@import "src/styles/global/variables";
@import "src/styles/global/colors";
@import "src/styles/global/responsiveness";

#Cost {
  padding: 112px 0;
  background-color: $colorWhite;

  @include bellow-s {
    padding: 98px 0;
  }

  .cost-header {
    margin: 0 12px 48px 12px;

    font-family: $ffVerdana;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    color: $colorBrightNavyBlue;

    @include bellow-s {
      font-size: 36px;
    }
  }

  .content-wrap {
    display: flex;
    flex-direction: column;

    width: 70%;
    margin: auto;

    @include bellow-xl {
      width: 80%;
    }

    @include bellow-l {
      width: 85%;
    }
  }

  .paragraphs {
    margin: 48px auto 0 auto;

    font-size: 18px;
    text-align: justify;
    color: $colorBlack;

    @include bellow-l {
      font-size: 16px;
    }
  }

  .media-wrap {
    display: grid;
    justify-content: center;
    align-content: center;

    @include bellow-s {
      display: block;
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-top: 56.25%; /* 16:9 Aspect Ratio */
    }
  }
  .video-responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
